@page "{currentpage?}"
@model WebClient.Pages.Account.MyOrdersModel
@{
    ViewData["Title"] = "My Orders";
}

<h3 class="text-center">@User.Claims.GetValueFromClaim("name") - Orders</h3>

<div class="container">
    <div class="row g-2">
        @if (Model.Orders.Any())
        {
            foreach (var item in Model.Orders)
            {
                <div class="row p-3 ms-1 border bg-light">
                    <div class="col-3">
                        <span>OrdreId: @item.orderId</span>
                        @if (item.isDelivered)
                        {
                            <span class="badge bg-info text-dark">Delivered</span>                            
                        }
                        else
                        {
                            <span class="badge bg-info text-dark">Proccesing</span> 
                        }
                    </div>
                    <div class="col-6 text-center">
                       @item.createdDate.ToLongDateString();
                    </div>
                    <div class="col-3 text-end">
                        <a asp-route-id="@item.orderId" asp-page="/Orders/Details">
                            <img src="~/lib/bootstrap/Icons/info-square-fill.svg" width="24" height="24" />
                        </a>
                    </div>
                </div>
                
            }           
            <partial name="_Pagenation" model="@new _PagenationModel(Model?.Currentpage, 130)" />           
        }
        else
        {
            <h4>No Orders Placed Yet</h4>
        }

    </div>
</div>