@using Helpers.UserHelpers;
@using Helpers.Constants;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebClient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebClient.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Lilla Kors</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Products/Read">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @if (User?.Identity?.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">@User?.Claims.GetValueFromClaim("name")</a>
                            </li>
                            <partial name="_WebCart" model="new _WebCartModel(@Context)"/>
                            <li class="nav-item">
                                <div class="btn-group">
                                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/lib/bootstrap/Icons/gear.svg" class="text-light" alt="Bootstrap" width="24" height="24" />
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><h6 class="dropdown-header">Options:</h6></li>
                                        <li>
                                            <a class="dropdown-item" asp-page="/Account/MyOrders">My Orders</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="@IdentityConst.IdentityServer/Identity/Account/Manage/index">My Account</a>
                                        </li>
                                        @if (User?.Claims.GetValueFromClaim("role") == "Admin")
                                        {
                                            <li>
                                                <a class="dropdown-item" href="@IdentityConst.IdentityServer/ManageEmp/index">Manage Users</a>
                                            </li>
                                        }
                                        <li>

                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-page="/Privacy">Privacy</a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li class="nav-item text-center">
                                            <form asp-page="/Account/Logout" method="post">
                                                <button class="btn btn-light" type="submit">
                                                    Log out
                                                    <img src="~/lib/bootstrap/Icons/box-arrow-right.svg" />
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebClient - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>