@page "{id}"
@model IdentityServer.Pages.ManageEmp.DetailsModel
@{
}

<div class="container">
    <div class="row text-center">
        <h3>
            You are Editing: @Model.MyUser.UserName
        </h3>
        <small>
            as @User.Identity.Name
        </small>
    </div>
    <div class="row">

    </div>
</div>
