@page "{id}"
@model WebClient.Pages.Tracking.TrackingModel
@{

}


<div class="container">
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhShiSbwyU-t0uvBojMmt29E0lrFYx3jA&callback=initMap&v=weekly" defer></script>

<script type="text/javascript" src="~/js/Mapslocal.js"></script>

<script>
    $(window).on('load',function (){
    setTimeout(callRoute(54.913811,9.792178,50.450001,30.523333), 100)
    });
</script>