@page "{id}"
@model WebClient.Pages.Tracking.TrackingModel
@{

}


<div class="container ">
    <div class="row">
        <iframe width="600"
                height="450"
                style="border:0"
                loading="lazy"
                disableDefaultUI="true"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                frameborder="0"
                src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAhShiSbwyU-t0uvBojMmt29E0lrFYx3jA&origin=Oslo+Norway&destination=Telemark+Norway&units=metric">
        </iframe>
    </div>
</div>

<script>
    $(window).on('load',function (){
        setTimeout(hidesomething, 6000)
    });

    function hidesomething(){
        $(".directions-card").hide();
        alert("ost")
    }
</script>